
<i nz-icon type="'message'" style="font-size: 16px; color: #08c;"></i>

<i nz-icon type="left" ></i>

<ngx-charts-bar-vertical
  [view]="view"
  [scheme]="colorScheme"
  [results]="single"
  [gradient]="gradient"
  [xAxis]="showXAxis"
  [yAxis]="showYAxis"
  [legend]="showLegend"
  [showXAxisLabel]="showXAxisLabel"
  [showYAxisLabel]="showYAxisLabel"
  [xAxisLabel]="xAxisLabel"
  [yAxisLabel]="yAxisLabel"
  [showGridLines]="showGridLines"
  (select)="onSelect($event)">
</ngx-charts-bar-vertical>